body{
    align-items: center;
}


.navbar-nav{
    justify-content: space-between;
    display: flex;
    width: 100%;
    
}

.nav-link{
    flex: 1;
    text-align: center;
    margin-right: 20px;
}


/*Startpagina*/
.img-jumbotron{
    float: right;
    height: 200px;
    width: 200px;
    margin-top: 65px;
    margin-left: 30px;
}

.positieJumbotron{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    width: auto;
    height: auto;
}

.navbar-toggler{
    align-self: right;
}


/*icoontjes footer*/
.footerIcoonFB{
    float: right;
    width: 24px;
    height: 24px;
}

.footerIcoonLI{
    float: right;
    width: 24px;
    height: 24px;
}

.footerIcoonI{
    float: right;
    width: 24px;
    height: 24px;
}

/*foto's voor cards start*/
.card-img-top
{

    width: auto;
    height: 250px;
    vertical-align: middle;

}

.gelinkteFotos{
    width: auto;
    height: 250px;
    vertical-align: middle;
}

.card :hover{
    background-color: lightgray
}

.card{
    margin-left: 20px;
    margin-right: 5;
    border-radius: 2px;
    border: 5px;
    border-color: lightgray;
    
}

.img-carousel{
    height: auto !important;
    width: auto !important;
    border-radius: 1px !important;
}

.text{
    margin-left: 15px;
}

.carousel-inner{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}