body{
    align-items: center;
    /*background-color: #;*/
}


.navbar-nav{
    justify-content: space-between;
    display: flex;
    width: 100%;
    
}

.nav-link{
    flex: 1;
    text-align: center;
    margin-right: 20px;
}


/*Startpagina*/
.img-jumbotron{
    float: right;
    height: 200px;
    width: 200px;
    margin-top: 65px;
    margin-left: 30px;
}

.positieJumbotron{
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    width: auto;
    height: auto;
}

.navbar-toggler{
    align-self: right;
}


/*icoontjes footer*/
.footerIcoonFB{
    margin-right: 5px !important;
}

.footerIcoonLI{
    margin-right: 5px !important;
}

.footerIcoonI{
    margin-right: 5px !important;
}

/*foto's voor cards start*/
.card-img-top
{
    align-items: center;
    text-align: center;
    width: fit-content;
    height: 250px;
    vertical-align: middle;
}

.gelinkteFotos{
    width: fit-content;
    height: 250px;
    justify-content: center;
}

.card :hover{
    background-color: lightgray
}

.card{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    border: 5px;
    border-color: gray;
    align-items: center;
    width: auto;
    padding-top: 10px;
    
    
}

.img-carousel{
    height: auto !important;
    width: auto !important;
    border-radius: 1px !important;
}

.text{
    margin-left: 15px;
}

.carousel-inner{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.accordion-item{
    margin-left: 10px;
    margin-right: 10px;
}

.alert{
    margin-left: 10px;
    margin-right: 10px;
}

.fotoHHVMB{
    text-align: center;
    height: auto;
    width: auto;
    float: right;
}
